td{
    width:200px;
    height: 200px;
   border-radius: 16px ;
   background: rgb(187, 186, 186);
   font-size: 90px;
   text-align: center;
}
table{
    margin: 20px auto;
    border-radius: 13px;
    color: white;
}
body{
    background:lightblue;
}
